.contenedorPrimario{
    margin-top: 40px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.Portada{
    width: 150px;
    height: 200px;
}

.contenedorLibros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}